#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sub-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 50%;
    margin: 1% 0%;
    padding: 2%;
    background-color: lightgray;
}

.auth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signin > * {
    margin: 2% 0%;
}

#signup {
    display: none;
    flex-direction: column;
}

#auth-wrapper hr {
    color: black;
    width: 40%;
}

#google-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#auth-wrapper button {
    width: 30%;
}