#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sub-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#auth-wrapper {
    display: flex;
    flex-direction:column;
    width: 20vw;
    margin: 1% 0%;
    padding: 10px;
    background-color:rgb(240, 240, 240);
    border-top:5px solid#0dcaf0;
    
}

.auth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.auth-row > input{
    font-size: 15px;
    padding: 10px;
    width:75%;
    margin:0;
    border: 2px solid lightgrey;
    border-radius: 5px;
}
.auth-row > button{
    font-size: 15px;
    padding: 12px;
    width:50%;
    border:none;
    border-radius: 5px;
    background-color:#0dcaf0;
    color:white;
}
#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signin > * {
    margin: 2% 0%;
}

#signup {
    display: none;
    flex-direction: column;
}
#signup input{
    margin: 10px;
}
#auth-wrapper hr {
    color: black;
    width: 0%;
}

#google-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#google-row > button{
    font-size: 15px;
    background-color: lightgrey;
    border:none;
    padding:10px;
    color:white;
    border-radius:5px;

}

#auth-wrapper button {
    width: 30%;
}

